.aboutme {
    font-family: 'Crimson Text';
    padding-right: 20px;
    padding-left: 20px;
    color: white;
}

#About {
    background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(75,75,75,1) 51%, rgba(0,0,0,1) 85%);    display: flex;
    flex-direction: row;
}

h5 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}