.aboutme {
    font-family: 'Indie Flower', cursive;
    font-style: italic;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
}

/* fade black to white opposite of next section */
#About {
    background-image: linear-gradient( 168.5deg,  rgba(11,10,10,1) 26.3%, rgba(206,204,204,1) 114.3% );
    display: flex;
    flex-direction: row;
}

/* give white font a shadow to show on white bg */
h5 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}