.resume {
    text-align: center;
    font-family: 'Crimson Text';
    margin-bottom: 1em;
    margin-top: -1em;
}

#linkedin {
    font-size: 2em;
    color: rgb(68, 89, 180);
    padding-right: 2vw;
}

#linkedin:hover {
    color: black;
}

#github {
    font-size: 2em;
    color: rgb(68, 89, 180);
    padding-right: 2vw;
}

#github:hover {
    color: black;
}

#folder {
    font-size: 2em;
    color: rgb(68, 89, 180);
}

#folder:hover {
    color: black;
}

#resumetext {
    font-size: small;
}

