html {
    scroll-behavior: smooth;
  }

body {
    padding:5px;
    background-color:black;
}



.resume {
    text-align: center;
    font-family: 'Crimson Text';
}

#linkedin {
    font-size: 60px;
    color: rgb(68, 180, 180);
    padding-left: 20px;
    padding-right: 20px;
}

#github {
    font-size: 60px;
    color: rgb(68, 180, 180);
    padding-right: 20px;
}

#folder {
    font-size: 60px;
    color: rgb(68, 180, 180);
    padding-right: 20px;
}

#resumetext {
    margin-left: 150px;
    color: white;
    font-family: 'Crimson Text', cursive;
}

