#contact {
    font-family: 'Crimson Text';
    background-color: rgb(233,236,239);
    padding-bottom: 1em;
    padding-top: 0.5em;
    margin-bottom: -2em;
}

.buttonSubmit {
    border: 1px solid grey;
}

.buttonSubmit:hover {
    cursor: pointer;
    background-color: darkgrey;
}