.footer {
    background-color:  rgb(50, 65, 129);
    color: white;
    display: flex;
    align-content: center;
    font-size: 1em;
    padding: 0.5em;
}

.letsconnect {
    position: relative;
    text-align: center;
    color: black;
    font-family: 'Crimson Text';
    margin-top: 1em;
}

#contact > div {
    padding-top: 0em;
}