/* photo */
.profile {
    height: 250px;
    background: url(../assets/decent1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.title {
    margin: 0em;
    padding: 0em;
    font-size: 4em;
}

/* use jumbotron to float bg over black */
.jumbotron {
    /* background: url(../assets/moonlake.jpg) center center; */
    background-size: cover;
    min-height: 45vh;
    font-family: 'Crimson Text';
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headertext {
    margin-right: 15vw;
    text-align: center;
}

#folder .resumetext {
    visibility: hidden;
    font-family: 'Crimson Text';
    background-color:  rgb(50, 65, 129);
    width: 120px;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    font-size: medium;
}

#folder:hover .resumetext {
    visibility: visible;
}