/* photo */
.profile {
    height: 250px;
    width: 300px;
    max-width: 175px;
    background: url(../assets/profile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.title {
    margin: 0em;
    padding: 0em;
    font-size: 4em;
}

/* use jumbotron to float bg over black */
.jumbotron {
    /* background: url(../assets/moonlake.jpg) center center; */
    background-size: cover;
    min-height: 45vh;
    font-family: 'Crimson Text';
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headertext {
    margin-right: 15vw;
    text-align: center;
}
