body > nav {
    font-family: 'Crimson Text';
    background-color: black;
    display: flex;
    flex-direction: row;
}

collapse navbar-collapse {
    justify-content: space-between;
}


#spotifybutton {
    background: none;
    color: white;
    cursor: pointer;
}

#spotifybutton:hover {
    background-color: black;
}

#navlink:hover {
    border-radius: 5px;
    text-decoration: underline;
}