/* projects wrapper */
#projects {
    margin-bottom: 10px;
    text-align: center;
    /* background: rgb(75,75,75); */
    /* background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(75,75,75,1) 51%, rgba(0,0,0,1) 85%);    display: flex; */
    position: relative;
}

/* full container of project samples */
.samples {
    position: relative;
    text-align: center;
    color: black;
    font-family: 'Crimson Text';
    align-content: center;
    margin: auto;
}

/* bring image preview to view on hover */
/* sports crimes */
#projects > div > div > div:nth-child(1) > div {
    background-color:  rgb(50, 65, 129);
    border-radius: 5px;
    border: 3px solid rgb(203, 206, 209);
}

#projects > div > div > div:nth-child(1) > div:hover{
    background-image: url(../assets/sportsapi.JPG);
    background-size: cover;
    border: 3px solid rgb(203, 206, 209);
}

/* netflix static copy */
#projects > div > div > div:nth-child(2) > div {
    background-color:  rgb(50, 65, 129);
    border: 3px solid rgb(203, 206, 209);
    border-radius: 5px;
}

#projects > div > div > div:nth-child(2) > div:hover{
    background-image: url(../assets/netflixapi.JPG);
    background-size: cover;
    border: 3px solid rgb(203, 206, 209);
}

/* codepen css creature */
#projects > div > div > div:nth-child(3) > div {
    background-color:  rgb(50, 65, 129);
    border: 3px solid rgb(203, 206, 209);
    border-radius: 5px;
}

#projects > div > div > div:nth-child(3) > div:hover{
    background-image: url(../assets/grimace.JPG);
    background-size: cover;
    border: 3px solid rgb(203, 206, 209);
}

/* pokemon api evolver */
#projects > div > div > div:nth-child(4) > div {
    background-color:  rgb(50, 65, 129);
    border: 3px solid rgb(203, 206, 209);
    border-radius: 5px;
}

#projects > div > div > div:nth-child(4) > div:hover{
    background-image: url(../assets/Pokemon.JPG);
    border: 3px solid rgb(203, 206, 209);
    background-size: cover;
}

/* blue badge project container */
#bluebadgediv > div {
    width: 100vw;
    display: flex;
    justify-content: center;
}

/* first project */
#bluebadgediv > div > div > div > div {
    background-color:  rgb(50, 65, 129);
    border: 3px solid rgb(203, 206, 209);
    background-size: cover;
}

#bluebadgediv > div > div > div > div:hover {
    background-image: url(../assets/Recipe.JPG);
    border: 3px solid rgb(203, 206, 209);
    background-size: cover;
}

/* red badge projects container */
#redbadgediv > div {
    width: 100vw;
    display: flex;
    justify-content: center;
}

/* first project */
#redbadgediv > div > div > div > div {
    background-color:  rgb(50, 65, 129);
    border: 3px solid rgb(203, 206, 209);
    background-size: cover;
}

#redbadgediv > div > div > div > div:hover {
    background-image: url(../assets/winklelogo.png);
    background-size: cover;
}

/* universal card styling for projects */
.card-body {
    color: white;
}

.card:hover {
    color: transparent;
}

.card-body:hover {
    color: transparent;
}

.shielddiv {
    display: flex;
}

/* badge stylings */
.goldshield {
    text-align: center;
    height: 100px;
    width: 100px;
    background: url(../assets/gold.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    opacity: 75%;
    display: inline-block;
}

.shieldspan {
    font-family: 'Crimson Text';
    background-color: rgb(55,55,55);
    color: white;
    margin: 0em;
    padding: 0em;
    line-height: 1em;
    border-radius: 2px;
    margin-top: -1em;
}

.goldshield:hover {
    opacity: 100%;
}

.blueshield {
    text-align: center;
    height: 100px;
    width: 100px;
    background: url(../assets/blue.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    opacity: 75%;
    display: inline-block;
}

.blueshield:hover {
    opacity: 100%;
}

.redshield {
    text-align: center;
    height: 100px;
    width: 100px;
    background: url(../assets/red.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    opacity: 75%;
    display: inline-block;
}

.redshield:hover {
    opacity: 100%;
}
